{% extends 'shop/layout.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}

{% block content %}


<div class="container" style="margin-top:50px; text-align:center;">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <h4>{{featured_item.title |linebreaks}}</h4>

        <img src="{{featured_item.main_image.url}}" style="margin-top:30px;">

        {% for i in images %}
            <img src="{{i.image.url}}" style="margin-top:30px;">
        {% endfor %}

        <p style="margin-top:30px;">{{featured_item.content |linebreaks}}</p>

        </div>
    </div>
</div>


{% endblock content %}