{% extends 'shop/layout.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}

{% block content %}

<div style="text-align:center;">

    <br>
    <div class="page-header">
    <h1>체 험 단 모 집 <small>M.K. Lab</small></h1>
    </div>

    <hr>

    <br><br>
    <h4>
        M.K. LAB에서 체험단을 모집합니다.
        <br>
        체험단 참여를 원하시는 분은 담당자(mklab@gmail.com)에게 연락주세요.
        <br>
        <br>

        해당제품: 눈물/콧물흡수기, 내장소음축소기<br>
        응모대상: 누구나<br>
        응모기간: 2015.11.1 ~ 2015.12.31<br>
        당첨자발표: 개인연락<br>
        당첨인원: 10명<br>
        제품배송: 매주 수요일 택배로 일괄 배송<br>
        응모방법: 아래의 링크를 참조하세요<br>
        <br><br>
        <p>
            <a class="btn btn-default" href="https://dl.dropboxusercontent.com/u/102804534/%EC%B2%B4%ED%97%98%EB%8B%A8%EC%A0%9C%EC%95%88%EC%84%9C/%EC%A0%9C%EC%95%88%EC%84%9C_%EB%88%88%EB%AC%BC%EC%BD%A7%EB%AC%BC%ED%9D%A1%EC%88%98%EA%B8%B0.pdf" role="button" target="_blank">눈물/콧물흡수기 <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
            <a class="btn btn-default" href="https://dl.dropboxusercontent.com/u/102804534/%EC%B2%B4%ED%97%98%EB%8B%A8%EC%A0%9C%EC%95%88%EC%84%9C/%EC%A0%9C%EC%95%88%EC%84%9C_%EB%82%B4%EC%9E%A5%EC%86%8C%EC%9D%8C%EC%B6%95%EC%86%8C%EA%B8%B0.pdf" role="button" target="_blank">내장소음축소기 <span class="glyphicon glyphicon-new-window" aria-hidden="true"></a>
            <a class="btn btn-info" href="https://dl.dropboxusercontent.com/u/102804534/%EC%B2%B4%ED%97%98%EB%8B%A8_%EC%82%AC%EC%9A%A9%EB%B3%B4%EA%B3%A0%EC%84%9C.docx" role="button" target="_blank">후기양식 <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></a>
        </p>
        <br>
        <br>
    </h4>

</div>

{% endblock content %}